<div id="main_wrapper">
      <div id="main_container">
        <div id="title">Ready to Purchase?</div>
        <div id='form_container'>
          <!--action = end point/destination-->
          <form action="/carts" id="hosted-fields-form" method="post">

                <label for='amount'>Select Amount</label><br>
                <input type='number' name='amount' class='hosted-field' id='amount' required><br>
<!-- add the word disabled after "Checkout" below to start button disabled-->
                <input type="submit" value="Check Out" disabled />
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              </form>

        </div>
      </div>
  </div>

<script>

  var field = document.querySelector('input[type="number"]');
  var submit = document.querySelector('input[type="submit"]');
  var form = document.querySelector('#hosted-fields-form');

  field.addEventListener("input", () => {
    submit.removeAttribute('disabled');
  });

  field.placeholder = 'Purchase Amount';

  form.addEventListener('submit', function (event) {
    event.preventDefault();
    console.log(event);

    if (field.value > 0) {
      form.submit;
    }
    else {
      alert("Hey, I'm trying to make some money here! Please enter a positive amount.")
    }
  });


//need an action to enable submit button. "on amount=exists" essentially
//          submit.removeAttribute('disabled');
//          document.querySelector('#amount').placeholder = 'Purchase Amount';

//          form.addEventListener('submit', function (event) {
//            event.preventDefault();
//            console.log(event);

//              form.submit();

</script>
