//Note that other styles are inherited from welcome.scss

#cart-submit:hover {
  transform: scale(1.11);
}

#cart_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 790px;
  border: 2px solid black;
}

.hosted-field {
  border: 1px solid black;
  height: 40px;
  width: 300px;
  margin-bottom:25px;
  padding-left:10px;
  display: block;
}

.hosted-field:hover {
  transform: scale(1.02);
}

.regular-field {
  border: 1px solid black;
  height: 40px;
  width: 300px;
  margin-bottom: 0px;
  padding-left:10px;
  display: block;
}

.regular-field:hover {
  transform: scale(1.02);
}
