//Note that other styles are inherited from welcome.scss

#text {
  padding: 35px;
  line-height: 1.8;
}

#checkout_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 350px;
  border: 2px solid black;
}
