@font-face {
    font-family: 'btMono';
    src: url(font-path('bt_mono_regular-webfont.ttf'));
}

#form_container{
  display: flex;
}

#amount:hover {
  transform: scale(1.02);
}

#welcome-submit:hover {
  transform: scale(1.08);
}

#main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 300px;
  border: 2px solid black;
}

#title {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
  font-size: 230%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'btMono';
  margin-bottom: 20px;
}

.welcome-field {
  border: 1px solid black;
  height: 40px;
  width: 300px;
  margin-bottom:25px;
  padding-left:10px;
}

input:focus {
  outline: none;
}

label {
  color:blue;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'btMono';
    font-size: 120%;
}

body {
    width: 100%;
    padding: 20px;
}
